{{sq-input-text
		placeholder=placeholder
		value=selected.name
		required=required
		criteria=criteria
		medium=medium
		tiny=tiny
		large=large
		small=small
		ignoreLang=ignoreLang
		ignoreDirection=ignoreDirection
}}

<div class="sq-right arrow">
	<svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			<path d="M0,0 L10,0 L5,6 L0,0 Z" id="DropdownArrow" fill="#53678B"></path>
	    </g>
	</svg>
</div>

<ul>
	{{#each items as |model|}}
		{{sq-input-dropdown-item model=model select='select' ignoreDirection=ignoreDirection}}
	{{/each}}
</ul>
