{{#sq-file-droplet required=required type=type change='change' value=value as |dragging uploading|}}
	
	{{#if uploading}}
		{{sq-input-text disabled=true placeholder=percentage}}
	{{else}}
		{{sq-input-text disabled=true required=required placeholder=placeholder value=value.filename}}
	{{/if}}

	{{#if dragging}}

		<!-- <p>Dragging</p> !-->

	{{/if}}

{{/sq-file-droplet}}

