{{input
		disabled=disabled
		type=type
		value=value
		focus-in="focusIn"
		focus-out="focusOut"
		required=required
		maxlength=maxlength
		dir=dir
		classNames='sq-align-left'
}}

<label class="sq-align-left">{{placeholder}}</label>