{{textarea
		disabled=disabled
		value=value
		focus-in="focusIn"
		focus-out="focusOut"
		required=required
		maxlength=maxlength
		cols="1"
		autoresize=true
		wrap=wrap
		linebreak=linebreak
		onresize='onresize'
		dir=dir
}}

<label>{{placeholder}}</label>