{{sq-input-text
		disabled=true
		placeholder=placeholder
		value=display
		required=required
		criteria=criteria
}}

<ul>
	{{#each items as |model|}}
		<li {{action 'select' model }}>{{model.name}}</li>
	{{/each}}
</ul>