{{textarea
		disabled=disabled
		value=value
		focus-in=(action "focusIn")
		focus-out=(action "focusOut")
		required=required
		maxlength=maxlength
		cols="1"
		enterPressed=(action "enterPressed")
		autoresize=true
		wrap=wrap
		linebreak=linebreak
		onresize=(action onresize)
		dir=dir
}}

{{sq-ui-adaptive-label classNames="sq-align-left" value=placeholder tagName='label'}}

{{#if maxdisplay}}

	<p dir="ltr" language="en">{{maxcount}}</p>

{{/if}}
