{{sq-input-text
		disabled=true
		placeholder=placeholder
		value=selected.name
		required=required
		criteria=criteria
		medium=medium
}}

<span class="sq-right"></span>

<ul>
	{{#each internals as |model|}}
		{{sq-input-dropdown-item model=model select='select'}}
	{{/each}}
</ul>