{{textarea
		disabled=disabled
		value=value
		focus-in="focusIn"
		focus-out="focusOut"
		required=required
		maxlength=maxlength
		cols="1"
		autoresize=true
		wrap=wrap
		linebreak=linebreak
		onresize=(action onresize)
		dir=dir
}}

{{sq-ui-adaptive-label classNames="sq-align-left" value=placeholder tagName='label'}}

{{#if maxdisplay}}

	<p>{{maxcount}}</p>

{{/if}}
