// PURPLE
$purple_darker_3: #8F62CB;
$purple_darker_2: #A176D6;
$purple_darker_1: #B28ADF;
$purple: #C19DE6;
$purple_lighten_1: #CDB0EB;
$purple_lighten_2: #D7BFEF;
$purple_lighten_3: #DFCBF2;
$purple_lighten_4: #EBDFF7;
$purple_lighten_5: #F2EAF9;
$purple_lighten_6: #F8F4FC;

// GREY
$grey_darker_4: #7C9BC5;
$grey_darker_3: #91ACD1;
$grey_darker_2: #A2BBDA;
$grey_darker_1: #B4C9E3;
$grey: #C2D4EA;
$grey_lighten_1: #CDDDEF;
$grey_lighten_2: #D5E1F0;
$grey_lighten_3: #DEE8F4;
$grey_lighten_4: #EAF0F7;
$grey_lighten_5: #F1F3F9;
$grey_lighten_6: #F5F7FA;

// DARK
$dark_darker_4: #202B3D;
$dark_darker_3: #28364D;
$dark_darker_2: #35445F;
$dark_darker_1: #3D4E6A;
$dark: #465774;
$dark_lighten_1: #53678B;
$dark_lighten_2: #637CA4;
$dark_lighten_3: #6E89B3;

// GREEN
$green_darker_3: #358924;
$green_darker_2: #459C30;
$green_darker_1: #57AD3F;
$green: #6ABC50;
$green_lighten_1: #7FC960;
$green_lighten_2: #98D373;
$green_lighten_3: #ACDB8A;
$green_lighten_4: #CDE9B8;
$green_lighten_5: #DBEFCB;
$green_lighten_6: #EBF6E2;

// ORANGE
$orange_darker_3: #E07127;
$orange_darker_2: #E78534;
$orange_darker_1: #ED9843;
$orange: #F1AA55;
$orange_lighten_1: #F3BB66;
$orange_lighten_2: #F7D392;
$orange_lighten_3: #FAE4BD;
$orange_lighten_4: #FBEDD3;
$orange_lighten_5: #FCF4E4;

// BLUE
$blue_darker_4: #238ED5;
$blue_darker_3: #35B0F2;
$blue_darker_2: #45BFF5;
$blue_darker_1: #57CCF8;
$blue: #6AD7FA;
$blue_lighten_1: #7FDFFB;
$blue_lighten_2: #98E5FB;
$blue_lighten_3: #ACEAFB;
$blue_lighten_4: #CDF2FC;
$blue_lighten_5: #DDF6FD;
$blue_lighten_6: #E1F8FE;

// RED
$red_darker_3: #FF3838;
$red_darker_2: #FF4848;
$red_darker_1: #FF5A5A;
$red: #FF6D6D;
$red_lighten_1: #FF8282;
$red_lighten_2: #FF9B9B;
$red_lighten_3: #FFAFAF;
$red_lighten_4: #FFCFCF;
$red_lighten_5: #FFDFDF;
$red_lighten_6: #FFEFEF;
