// INPUT
$sq-input-bar-focus: $purple;
$sq-input-label-focus: $purple;
$sq-input-input-focus: $dark;

$sq-input-bar-valid: $dark_lighten_2;
$sq-input-label-valid: $grey_darker_4;
$sq-input-input-valid: $dark;

$sq-input-bar-default: $dark_lighten_2;
$sq-input-label-default: $grey_darker_4;
$sq-input-input-default: $grey_darker_4;

$sq-input-invalid: $red;

//SIZES
$sq-input-border-height: 2px;
$sq-input-label-height: 12px;
$sq-input-input-font-size: 24px;
$sq-input-input-height: 40px;
$sq-input-input-line-height: 32px;
$sq-input-margin-bottom: 2em;

$sq-input-medium: 4px;

$sq-input-tiny: 8px;

// DROPDOWN
$sq-dropdown-padding: 1em;
$sq-dropdown-item: $dark;
$sq-dropdown-item-selected: $purple;
$sq-dropdown-item-selected-background: $purple_lighten_5;
$sq-dropdown-item-descriptior: $grey_darker_4;
$sq-dropdown-item-hover: $grey_lighten_4;

//
$sq-input-font: "Roboto", sans-serif;
